<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="content-language" content="kr">
  <meta name="google-site-verification" content="8_SyZg2Wg3LNnCmFXzETp7ld4yjZB8ny17m8QsYsLwk">
  <meta name="author" content="디시인사이드">
  <meta name="title" content="## CONNECTING HEARTS! 디시인사이드입니다. ## ">
  <meta name="description" content="국내 최대 커뮤니티 포털, 인터넷 트렌드의 중심 디시인사이드, dcinside">
  <meta property="og:type" content="website">
  <meta property="og:title" content="## CONNECTING HEARTS! 디시인사이드입니다. ## ">
  <meta property="og:description" content="국내 최대 커뮤니티 포털, 인터넷 트렌드의 중심 디시인사이드, dcinside">
  <meta property="og:image" content="https://nstatic.dcinside.com/dc/w/images/descrip_img.png">
  <meta property="og:url" content="https://www.dcinside.com/"> 
  <meta http-equiv="Pragma" content="no-cache" />  <title>## CONNECTING HEARTS! 디시인사이드입니다. ## </title>
  <link rel="shortcut icon" href="https://nstatic.dcinside.com/dc/w/images/logo_icon.ico" />
  <link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/reset.css"/>
  <link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/main.css?ver190109"/>
  <!-- link rel="stylesheet" type="text/css" href="http://nstatic.dcinside.com/dgn/dccone/css/dccone.css"/-->
  <link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/popup.css?ver191113"/>
  <script type="text/javascript" src="https://nstatic.dcinside.com/dc/w/js/html5shiv.min.js"></script>
  <!--[if IE 7]><link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/ie7.css"/><![endif]-->
<!--[if lt IE 9]>
<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-1.7.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]>
<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
<![endif]-->
<!--[if !IE]> -->
<script src="https://nstatic.dcinside.com/dgn/gallery/js/jquery-3.2.1.min.js"></script>
<!-- <![endif]-->
  <script type="text/javascript" src="https://nstatic.dcinside.com/dgn/gallery/js/jquery.tmpl.min.js"></script>
  <script language="javascript" src="/_js/common.js?181128"></script>
  <script language="javascript" src="/_js/common_json.js?190527"></script>
  <script type="text/javascript" src="/_js/navigation.js"></script>
  <script type="text/javascript" src="/_js/click_log.js?180416"></script>
  <script type="text/javascript" src="/_js/ctr_cookie.js"></script>
  <script type="text/javascript" src="/_js/lately_visit.js"></script>
  <script type="text/javascript" src="/_js/globalSearch.js?v=3"></script>
  <script type="text/javascript" src="https://gall.dcinside.com/_js/crossDomainStorage.js?1"></script>
  <script type="text/javascript" src="https://gall.dcinside.com/_js/alarm_polling.js?180330"></script>
  <script type="text/javascript" src="https://gall.dcinside.com/_js/gallery_right_login.js?180329"></script>
  <script type="text/javascript">
	document.domain = "dcinside.com";
	var json_param = '20191202135702';

	//IE6 PNG bug
	function setPng24(obj) {
		obj.width        = obj.height = 1;
		obj.className    = obj.className.replace(/\bpng24\b/i,'');
		obj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + obj.src + "',sizingMethod='image');";
		obj.src = '';
		return '';
	}
</script>
<!-- 타불라의 콘텐츠형 광고 -->
<script type="text/javascript">
  window._taboola = window._taboola || [];
  _taboola.push({category:'auto'});
  !function (e, f, u, i) {
    if (!document.getElementById(i)){
      e.async = 1;
      e.src = u;
      e.id = i;
      f.parentNode.insertBefore(e, f);
    }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/dcinside/loader.js',
  'tb_loader_script');
</script>
<!-- 타불라의 콘텐츠형 광고 -->
</head>
<body>
	<script type="text/javascript">
		window._taboola = window._taboola || [];
		_taboola.push({flush: true});
	</script>
  <!--스킵 내비게이션-->
  <div class="skip">
    <a href="#search_wrap"><span>통합검색 바로가기</span></a>
    <a href="#login"><span>로그인영역 바로가기</span></a>
    <a href="#container"><span>본문영역 바로가기</span></a>
  </div>
  <!--//스킵 내비게이션-->
  <div id="top" class="dcwrap">
    <!-- 상단 -->
    <header class="dcheader">
      <div class="dchead">
        <!-- 로고영역 -->
        <h1 class="dc_logo">
        	        	<a href="https://www.dcinside.com/" style="background-image:url(https://nstatic.dcinside.com/dc/logo_day/dc_logo.gif)"><span class="blind">디시인사이드</span></a>
                </h1>
        
        <!-- //로고영역 -->

        <div id="search_wrap" class="wrap_search">
          <h2 class="blind">갤러리 검색</h2>
          <!-- 갤러리 통합검색 -->
          <form id="searchform" name="search_process" class="sch_smit" method="get" accept-charset="utf-8" action="" role="search" onSubmit="return globalSearch(this);" >
            <fieldset>
              <legend class="blind">통합검색</legend>
              <div  class="top_search clear">
                <div class="inner_search">
                  <input class="in_keyword" type="text" name="search" id="preSWord" title="검색어 입력" value="" placeholder="갤러리 & 통합검색" accesskey="f" type="search" autocomplete="off">
                </div>
                <button class="sp_main bnt_search" id="searchSubmit"><span class="blind">검색</span></button>
              </div>
            </fieldset>
          </form>
          <!-- //갤러리 통합검색 -->

          <!-- 검색 자동완성 레이어-->
          <div class="auto_wordwrap" style="left:0;top:46px;display:none"><!--자동완성 레어이 : display:block -->
          </div>
          <!-- //검색 자동완성 레이어 -->

          <!-- 오늘의 이슈 -->
          <div class="day_issue clear">
            <strong class="tit">오늘의 이슈</strong>
			<input type="hidden" name="dayIssueNum" id="dayIssueNum" value="1" /> 
            <ul class="day_issue_list ">
			<script id="dayIssue-tmpl" type="text/x-jquery-tmpl">
              <li><a href="https://search.dcinside.com/combine/q/${link_keyword}">${keyword}</a></li>
			</script>
            </ul>
            <div class="btn_box"><!-- 버튼 활성화 클래스 : on -->
              <button type="button" class="sp_main btn_issueprev btn_issue"><span class="blind">이전</span></button>
              <button type="button" class="sp_main btn_issuenext btn_issue on"><span class="blind">다음</span></button>
            </div>
          </div>
          <!-- //오늘의 이슈 -->
        </div>
        <div class="area_links">
          <a class="sp_img m_go" href="https://mobile.dcinside.com/" target="_blank"><span class="blind">Mobile</span></a>
        </div>
      </div>
    </header>
    <!-- //상단 -->

    <!-- GNB -->
    <div class="gnb_bar">
      <nav class="gnb clear">
        <h2 class="blind">GNB</h2>
        <ul class="gnb_list clear">
          <li>
            <a href="https://gall.dcinside.com" class="hover_gnb link_gnb" url_code="gallery">갤러리<em class="sp_img icon_depmore" class="hover_gnb"></em></a>
			<span class="gnb_area" style="display:block;width:77px;height:12px;position:absolute;left:0;bottom:0;"></span>
            <!-- 2차메뉴 -->
            <div class="depth2" style="left:0;display:none"><!--2차메뉴 열림 : display:block -->
              <span class="sp_img depth_bg"></span>
              <ul class="depth2_list" >
                <li><a href="https://game.dcinside.com">게임</a></li>
                <li><a href="https://enter.dcinside.com">연예/방송</a></li>
                <li><a href="https://sports.dcinside.com">스포츠</a></li>
                <li><a href="https://edu.dcinside.com">교육/금융/IT</a></li>
                <li><a href="https://travel.dcinside.com">여행/음식/생물</a></li>
                <li><a href="https://hobby.dcinside.com">취미/생활</a></li>
              </ul>
            </div>
            <!-- //2차메뉴 -->
          </li>
          <li><a href="https://gall.dcinside.com/m" class="link_gnb" url_code="mgallery">m.갤러리</a></li>
          <li><a href="https://gallog.dcinside.com" class="link_gnb" url_code="gallog">갤로그</a></li>
          <li><a href="https://dcnewsj.joins.com" class="link_gnb" url_code="dcnews">뉴스</a></li>
          <li><a href="https://event.dcinside.com" class="link_gnb" url_code="event">이벤트</a></li>
          <li><a href="https://mall.dcinside.com" class="link_gnb" url_code="mandumall">만두몰</a></li>
          <li><a href="https://wiki.dcinside.com" class="link_gnb" url_code="dcwiki">디시위키</a></li>
        </ul>

        <!-- 어제 게시글,댓글 등록 -->
        <div class="gall_exposure">
          <div class="posts">어제 <em class="num" id="total_content_count"></em> 게시글 등록</div>
          <div class="reply">어제 <em class="num" id="total_reple_count"></em> 댓글 등록</div>
        </div>
        <!-- /어제 게시글,댓글 등록 -->
      </nav>
    </div>
    <!-- //GNB -->

    <!-- 본문 -->
    <main  id="container">
      <div class="main_content clear" >
        <!-- left_content -->
        <section  class="left_content">
         <h2 class="blind">본문 왼쪽 컨텐츠 영역</h2>
          <article>
            <!--HIT 갤러리-->
            <div class="content hit_con" id="hit_content">
              <header class="con_head">
                <h3 class="head_tit"><a href="https://gall.dcinside.com/board/lists/?id=hit">HIT 갤러리</a></h3>
                <div class="pageing">
                  <div class="page_num">
                    <strong class="now_num" id="hitNum">1</strong>/<span class="total_num" id="hitTotal">3</span>
                  </div>
                  <div class="btn_box">
                    <button type="button" class="sp_main btn_prev" id="hit_prev"><span class="blind">이전</span></button>
                    <button type="button" class="sp_main btn_next on" id="hit_next"><span class="blind">다음</span></button>
                  </div>
                </div>
              </header>
              <ul class="con_list">
			  <script id="hit-tmpl" type="text/x-jquery-tmpl">
                <li class="hitL">
                  <a href="${link}" class="link_thumb main_log" section_code="hit">
                    <span class="img_box">
						<img src="${original_link}" alt="" width="171">
                    </span>
                    <div class="txt_box">
					  <strong class="tit">${title}</strong>
                      <span class="gall_name">${category}</span>
                      <span class="info_num"><b>댓글</b> ${total_comment}개 <b>추천</b> ${recommend}건</span>
                    </div>
                  </a>
                </li>
				</script>
				<script id="oldhit-tmpl" type="text/x-jquery-tmpl">
                <li class="years_box oldhitL">
                  <a href="${link}" class="link_thumb main_log" section_code="old_hit">
                    <span class="img_box">
						<img src="${image_link}" alt="" width="171">
                        <span class="sp_years icon_years${gap_date}"><span class="blind">${gap_date}년전</span></span>
                    </span>
                    <div class="txt_box">
					  <strong class="tit">${title}</strong>
                      <span class="gall_name">${reg_date}</span>
                      <span class="info_num"><b>댓글</b> ${total_comment}개 <b>추천</b> ${recommend}건</span>
                    </div>
                  </a>
                </li>
				</script>

              </ul>
            </div>
            <!--//HIT 갤러리-->

            <!-- 상단 728*90 광고 -->
            <div class="leftbanner">
            	<script type="text/javascript" src="https://addc.dcinside.com/NetInsight/js/dcinside/gallery/etc@main_center"></script>
            </div>
            <!-- //상단 728*90 광고 -->

            <!--초개념-->
            <div class="content sec_con" id="topRecom_content">
              <header class="con_head">
                <h3 class="head_tit"><a href="https://gall.dcinside.com/board/lists/?id=superidea">초개념</a></h3>
                <div class="btn_box">
                  <button type="button" class="sp_main btn_more" onclick="location.href='https://gall.dcinside.com/board/lists/?id=superidea'"><span class="blind">더보기</span></button>
                </div>
              </header>
              <ul class="con_list img topRecomImg" >
			  	<script id="topRecomImg-tmpl" type="text/x-jquery-tmpl">
                <li>
                  <a href="${url}" class="main_log" section_code="toprecommend">
                    <span class="img_box">
                      <img src="${thumb_xl}" alt="" width="171" style="position:relative; ${thumb_css}">
                    </span>
                    <div class="txt_box">
					 <strong>${gall_name}</strong>${only_title}
                    </div>
                  </a>
                </li>
				</script>
              </ul>

              <ul class="con_list txt topRecomTxt">
			    <script id="topRecomTxt-tmpl" type="text/x-jquery-tmpl">
                <li>
                  <a href="${url}" class="main_log" section_code="toprecommend">
					<strong>${gall_name}</strong>${only_title}
                  </a>
                </li>
				</script>
              </ul>
            </div>
            <!--//초개념-->

            <!-- 중단 728*90 광고 -->
            <div class="leftbanner">
              <!-- 광고영역 -->
			  <div class="ad_top">
			  <!-- 728 * 90 -->
				<ins class="daum_ddn_area" style="display:none;"
				data-ad-unit    = "DAN-t4nw8b9roze8"
				data-ad-media   = "1l"
				data-ad-pubuser = "L"
				data-ad-type    = "D"
				data-ad-width   = "728"
				data-ad-height  = "90"></ins>
				<script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js"></script>
			  </div>
			  <!-- //광고영역 -->
            </div>
            <!-- //중단 728*90 광고 -->

            <!--DNA-->
            <div class="content dna_con" id="dna_content">
              <header class="con_head">
                <h3 class="head_tit"><a href="https://dcnewsj.joins.com/">뉴스</a></h3>
                <div class="pageing">
                  <div class="page_num">
                    <strong class="now_num" id="dnaNum">1</strong>/<span class="total_num" id="dnaTotal">2</span>
                  </div>
                  <div class="btn_box">
                    <button type="button" class="sp_main btn_prev" id="dna_prev"><span class="blind">이전</span></button>
                    <button type="button" class="sp_main btn_next on" id="dna_next"><span class="blind">다음</span></button>
                  </div>
                </div>
              </header>
              <ul class="con_list">
				<script id="dna-tmpl" type="text/x-jquery-tmpl">
                <li>
                  <a href="${url}" target="_blank" class="dna_thumb main_log" section_code="dcnews_j">
                    <span class="img_box">
						<img src="${thumb}" alt="" width="171">
                    </span>
                    <div class="txt_box">
                      <strong class="tit">${title}</strong>
					  ${description}
                    </div>
                  </a>
                </li>
				</script>
              </ul>
            </div>
            <!--//DNA-->
            
			<!-- 이슈줌 -->
            <div class="issue_zoom">
              <header class="con_head">
                <h3 class="head_tit"><a href="https://gall.dcinside.com/board/lists/?id=issuezoom">이슈줌</a></h3>
                <div class="pageing">
                  <div class="page_num">
                    <strong class="now_num" id="issueNum">1</strong>/<span class="total_num" id="issueTotal">2</span>
                  </div>
                  <div class="btn_box">
                    <button type="button" class="sp_main btn_prev" id="issue_prev"><span class="blind">이전</span></button>
                    <button type="button" class="sp_main btn_next on" id="issue_next"><span class="blind">다음</span></button>
                  </div>
                </div>
              </header>

              <ul class="con_list">
			  <script id="issueZum-tmpl" type="text/x-jquery-tmpl">
                <li>
                  <a href="${link}" class="main_log" section_code="issue_zoom">
                    <span class="img_box">
                      <img src="${original_link}" alt="" width="234">
                    </span>
                    <div class="txt_box">
                      <div class="inner">
                        <strong class="tit">${title}</strong>
                      </div>
                      <span class="txt_bg"></span>
                    </div>
                  </a>
                </li>
				</script>
              </ul>
            </div>
            <!-- //이슈줌 -->
			
			
            <!--개념글-->
            <div class="content concept_con">
              <header class="con_head">
                <h3 class="head_tit">개념글</h3>
                <div class="clear">
                  <ul class="tab_comm">
                  	<li><a href="javascript:void(0)" class="recomTab on" style="display:none">전체</a></li>
                    <li><a href="javascript:void(0)" class="recomTab">게임</a></li>
                    <li><a href="javascript:void(0)" class="recomTab">연예/방송</a></li>
                    <li><a href="javascript:void(0)" class="recomTab">스포츠</a></li>
                    <li><a href="javascript:void(0)" class="recomTab">여행/음식/생물</a></li>
                    <li><a href="javascript:void(0)" class="recomTab">취미/생활</a></li>
                  </ul>
                  <div class="pageing">
                    <div class="page_num">
                      <strong class="now_num" id="recomNum">1</strong>/<span class="total_num" id="recomTotal">6</span>
                    </div>
                    <div class="btn_box">
                      <button type="button" class="sp_main btn_prev" id="recom_prev"><span class="blind">이전</span></button>
                      <button type="button" class="sp_main btn_next on" id="recom_next"><span class="blind">다음</span></button>
                    </div>
                  </div>
                </div>
              </header>
            </div>
            <!--//개념글-->
          </article>
          <article>
            <!-- 만두몰 -->
            <div class="content mall_con">
              <header class="con_head">
                <h3 class="head_tit"><a href="https://mall.dcinside.com/">만두몰</a></h3>
                <div class="clear">
                  <ul class="tab_comm">
					<li><a href="javascript:void(0);" class="mallTab on" >디시콘</a></li>
                    <li><a href="javascript:void(0);" class="mallTab" >영화</a></li>
                    <li><a href="javascript:void(0);" class="mallTab">기프티샵</a></li>
                    <li><a href="javascript:void(0);" class="mallTab">충전소</a></li>
                  </ul>
                </div>
              </header>
			  <section class="tab_container clear mallCont" style="display:block">
                <h3 class="blind">디시콘</h3>
                <div class="tab_content">
                  <a href="https://mall.dcinside.com/?from=A08"><img src="https://nstatic.dcinside.com/dc/w/images/ban1.png" alt="나만의 디시콘 제작, 디시콘 바로가기"></a>
                </div>
              </section>
              
              <section class="tab_container clear mallCont" style="display:none">
                <h3 class="blind">영화</h3>
                <div class="tab_content">
                  <a href="https://mall.dcinside.com/?from=A16"><img src="https://nstatic.dcinside.com/dc/w/images/ban2.png" alt="인기영화와 성인영화를 무제한 즐긴다. 영화 바로가기"></a>
                </div>
              </section>
              <section class="tab_container clear mallCont" style="display:none">
                <h3 class="blind">기프티샵</h3>
                <div class="tab_content">
                  <a href="https://mall.dcinside.com/?from=A06"><img src="https://nstatic.dcinside.com/dc/w/images/ban3.png" alt="기프티샵 바로가기"></a>
                </div>
              </section>
              <section class="tab_container clear mallCont" style="display:none">
                <h3 class="blind">충전소</h3>
                <div class="tab_content">
                  <a href="https://mall.dcinside.com/?from=A09"><img src="https://nstatic.dcinside.com/dc/w/images/ban5.png" alt="나만의 알뜰습관 무료로 만두받자. 충전소 바로가기"></a>
                </div>
              </section>
            </div>
            <!-- //만두몰 -->
          </article>
        </section>
        <!-- //left_content -->

        <!-- right_content -->
        <section  class="right_content">
          <h2 class="blind">본문 오른쪽 컨텐츠 영역</h2>
          
		            <!-- 로그인  -->
          <div id="login" class="login_wrap ">
            <div class="log_inr">
              <form id="login_process" autocomplete="off">
				<input type="hidden" name="s_url" value="//www.dcinside.com/">
				<input type="hidden" name="ssl" id="ssl" value="Y">
				<input type="hidden" name="3fZdPI9yvM57jt0x" value="6N8na7B18t9rtk9x">
                <fieldset>
                  <legend class="blind">로그인</legend>
                  <div class="login_inp">
                    <div class="input_box">
                      <label for="user_id" id="idLabel" class="lab_login">아이디</label>
                      <input type="text" id="user_id" name="user_id" class="inp_txt" maxlength="50" onfocus="$('#idLabel').html('');" value="">
                    </div>
                    <div class="input_box">
                      <label for="pw" id="pwdLabel" class="lab_login">비밀번호</label>
                      <input type="password" id="pw" name="pw" class="inp_txt" maxlength="32" onfocus="$('#pwdLabel').html('');" onkeyup="if(event.keyCode==13)$('#login_ok').click();">
                    </div>
                  </div>
					
				  					
				  <div class="login_set">
                    <div class="chk_id">
                      <span class="checkbox">
                        <input type="checkbox" id="idsave" class="ico_check" name="id_cookie">
                        <em class="checkmark"></em>
                        <label for="idsave"><em class="interval">ID</em> 저장</label>
                      </span>
                    </div>
                    <div class="chk_ip">
                      <span class="sp_loginout ip ssl_icon"><em class="blind">off</em></span>보안접속
                      <!--<span class="sp_loginout ip on"><em class="blind">on</em></span>IP 보안--> <!-- IP보안 on시, on클래스 -->
                    </div>
				    <button type="button" id="login_ok" class="btn_inout login">로그인</button>
                  </div>
                </fieldset>
              </form>
			  <!-- 알림 설정 -->
<div id="alarmConf" class="pop_wrap type3" style="right:-1px;top:45px;z-index:110;display:none;">
  <div class="pop_content notice_setting">
	<div class="pop_head"><h3>알림설정</h3></div>
	<div class="inner">
	  <div class="set_element_box">
		<p class="inner_txt">
		  <span class="set_element">한줄알림</span>알림 팝업을 ON/OFF 합니다.
		</p>
		<div class="setting_onoff">
		  <button type="button" class="sp_img on" onclick="alarmConfToggle(this);" data-id="popup"><span class="blind">on</span></button>
		</div>
	  </div>
	  <div class="set_element_box">
		<p class="inner_txt">
		  <span class="set_element">댓글알림</span>내 글에 댓글이 달린 경우 알려줍니다.
		</p>
		<div class="setting_onoff">
		  <button type="button" class="sp_img on" onclick="alarmConfToggle(this);" data-id="reply"><span class="blind">on</span></button>
		</div>
	  </div>
	  <div class="set_element_box">
		<p class="inner_txt">
		  <span class="set_element">답글알림</span>내 댓글에 답글이 달린 경우 알려줍니다.
		</p>
		<div class="setting_onoff">
		  <button type="button" class="sp_img on" onclick="alarmConfToggle(this);" data-id="reReply"><span class="blind">on</span></button>
		</div>
	  </div>
	  <div class="set_element_box">
		<p class="inner_txt">
		  <span class="set_element">힛갤알림</span>힛갤이 등록된 경우 알려줍니다.
		</p>
		<div class="setting_onoff">
		  <button type="button" class="sp_img on" onclick="alarmConfToggle(this);" data-id="hit"><span class="blind">on</span></button>
		</div>
	  </div>
	</div>
	<div class="btn_box">
	  <button type="button" class="btn_grey small" onclick="alarmConfClose();">닫기</button>
	  <button type="button" class="btn_blue small" onclick="alarmConfUpdate();">저장</button>
	</div>
  </div>
  <button type="button" class="poply_bgblueclose" onclick="alarmConfClose();"><span class="blind">알림 설정 레이어 닫기</span><em class="sp_img icon_bgblueclose"></em></button>
</div>
<!-- //알림 설정 -->

<!-- 알림 -->
<div id="alarmList" class="pop_wrap type3" style="right:-1px;top:45px;display:none;">
  <div class="pop_content notice_listwrap">
	<div class="pop_head clear">
	  <h3 class="fl">알림</h3>
	  <div class="fr">
		<button type="button" class="btn_noti_alldel" onclick="remove_all_alarm()">전체삭제</button>
		<button type="button" class="btn_noti_setting" onclick="alarmConf()">설정</button>
	  </div>
	</div>
	<ul class="notice_list"></ul>
	
		<script id="alarm-list-tmpl" type="text/x-jquery-tmpl">
		{{if type == 'manager'}}
		<li class="notice_mng">
		  <a {{if link}}href="${link}"{{/if}} class="notice_txt"><span>${prefix} ${content}</span>
			<span class="inner">
			{{if time >= alarm_new_max}}<span class="new"><em class="blind">NEW</em><em class="sp_img icon_new"></em></span>{{/if}}
			<button type="button" class="" onclick="remove_alarm($(this).closest('li'))"><span class="blind">알림삭제</span><em class="sp_img icon_bword_del"></em></button>
			</span>
		  </a>
		</li>
		{{else}}
		<li>
		  <a href="${link}" class="notice_txt">${prefix} ${content}</a>{{if time >= alarm_new_max}}<span class="new"><em class="blind">NEW</em><em class="sp_img icon_new"></em></span>{{/if}}
		  <button type="button" class="" onclick="remove_alarm($(this).closest('li'))"><span class="blind">알림삭제</span><em class="sp_img icon_bword_del"></em></button>
		</li>
		{{/if}}
	</script>
	
	<p class="empty_box" style="display:none;">새로운 알림이 없습니다.</p>
	
  </div>
  <button type="button" class="poply_bgblueclose" onclick="alarmListClose()"><span class="blind">알림 리스트 레이어 닫기</span><em class="sp_img icon_bgblueclose"></em></button>
</div>
<!-- //알림 -->              <div class="options">
                <a href="https://dcid.dcinside.com/join_new/join_dcinside.php"><strong>회원가입</strong></a>
                <a href="https://dcid.dcinside.com/join_new/member_find_id.php">아이디<em class="sp_img img_dot"></em>비밀번호찾기</a>
                <span class="sp_loginout noti " onclick="alarmList($(this), 'on')" style="cursor:pointer;"><em class="blind">알림</em></span><!-- 알림 온시 on클래스 -->
              </div>
            </div>
          </div>
          <iframe src="https://dcid.dcinside.com/join/sso_iframe.php" width="0" height="0"></iframe>
		  		  
          <script type="text/javascript">
          alarm_init();
          </script>
		  
          <!-- 실북갤 -->
          <article>
            <div class="content_box hotlive gall_rank" id="rank_gall">
              <div class="box_tit">
                <h3 class="tit">실북갤</h3>
                <span class="box_menu">
                  <a href="javascript:void(0);" class="rank_gall gallRankTab on">갤러리</a>
                  <a href="javascript:void(0);" class="rank_mgall mgallRankTab">마이너 갤러리</a>
                </span>
              </div>
              <div class="box_bottom rank_more" gall_type="g" page="1" >11위 - 20위</div>
            </div>
          </article>
          <!-- //실북갤 -->

          <!-- 광고 250*250 -->
          <div class="rightbanner">
			<ins class="daum_ddn_area" style="display:none;" 
				data-ad-unit    = "DAN-t4nx01mumzp1" 
        		data-ad-media   = "1l" 
        		data-ad-pubuser = "L" 
        		data-ad-type    = "D" 
        		data-ad-width   = "250" 
        		data-ad-height  = "250">
        	</ins> 
        	<script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js"></script>
          </div>
          <!-- 광고 2508250 -->

          <!-- 신설갤 -->
          <article>
            <div class="content_box new_gall">
              <div class="box_tit">
                <h3 class="tit">신설갤</h3>
                <span class="box_menu">
                  <a href="javascript:void(0);" class="rank_gall newGallTab">갤러리</a>
                  <a href="javascript:void(0);" class="rank_mgall newMgallTab on">마이너 갤러리</a>
                </span>
              </div>
             
            </div>
          </article>
          <!-- //신설갤 -->

          <!--디시위키-->
          <article>
            <div class="content_box wiki">
              <div class="box_tit">
                <h3>디시위키</h3>
                <a href="//wiki.dcinside.com/wiki/%ED%8A%B9%EC%88%98:%EC%9E%84%EC%9D%98%EB%AC%B8%EC%84%9C" target="_blank" class="wikimore">심심할 땐 랜덤<span class="sp_img icon_wikimore"></span></a>
              </div>
              <div class="wk_content">
                  <script id="wiki-tmpl" type="text/x-jquery-tmpl">
                    <div class="wk_box">
                        <a href="${link}" target="_blank" class="main_log" section_code="wiki">
                            <strong class="tit">#${title}</strong>
                            <p class="wk_txt">${memo}</p>
                        </a>
                    </div>
			      </script>
              </div>
            </div>
          </article>
          <!--//디시위키-->

          <!-- 월간디시뉴스 -->
          <div class="rightbanner" id="month_dcnews">
          
          </div>
          <!-- //월간디시뉴스 250*250 -->

          <!-- 이벤트 -->
          <article class="evt_content">
            <header class="con_head">
              <h3 class="head_tit"><a href="https://event.dcinside.com">이벤트</a></h3>
            </header>
            <a class="evt_box" href="javascript:void(0);" >
             <script type="text/javascript" src="https://addc.dcinside.com/NetInsight/js/dcinside/dcinside/main@right"></script>
            </a>
          </article>
          <!-- //이벤트 -->
        </section>
        <!-- //right_content -->
      </div>
    </main>
    <!-- //본문 -->

    <!-- 하단 -->
    <footer class="dcfoot">
      <div class="dc_all">
        <div class="notice">
          <a href="https://gall.dcinside.com/list.php?id=know"><strong class="tit">공지사항</strong></a>
          <a href="#"></a>
        </div>
        <div class="all_box">
          <div class="all_list"><!-- 리스트 접기 클래스: close -->
            <dl>
              <dt><a href="https://gall.dcinside.com">갤러리</a></dt>
              <dd><a href="https://gall.dcinside.com/board/lists/?id=hit">HIT 갤러리</a></dd>
              <dd><a href="https://gall.dcinside.com/board/lists/?id=superidea">초개념 갤러리</a></dd>
              <dd><a href="https://gall.dcinside.com/board/lists/?id=issuezoom">이슈줌 갤러리</a></dd>
            </dl>
            <dl class="rankingGall">
              <dt>인기갤러리</dt>
			  <script id="rankingGall-tmpl" type="text/x-jquery-tmpl">
              <dd><a href="${link}">${category}</a></dd>
			  </script>
            </dl>
            <dl>
              <dt>주요서비스</dt>
              <dd><a href="https://gallog.dcinside.com">갤로그</a></dd>
              <dd><a href="https://wiki.dcinside.com/wiki/%EB%8C%80%EB%AC%B8">디시위키</a></dd>
              <dd><a href="https://event.dcinside.com/">이벤트</a></dd>
            </dl>
            <dl>
              <dt><a href="https://mall.dcinside.com">만두몰</a></dt>
              <dd><a href="https://mall.dcinside.com/?from=A08">디시콘</a></dd>
              <dd><a href="https://mall.dcinside.com/?from=A16">영화</a></dd>
              <dd><a href="https://mall.dcinside.com/?from=A06">기프티샵</a></dd>
              <dd><a href="https://mall.dcinside.com/?from=A09">충전소</a></dd>
            </dl>
            <dl class="rollingGall">
              <dt><span>갤러리 순회</span></dt>
			  <script id="rollingGall-tmpl" type="text/x-jquery-tmpl">
              <dd><a href="${url}">${ko_name}</a></dd>
			  </script>
            </dl>
            <dl>
              <dt><a href="https://dcnewsj.joins.com" target="_blank">디시뉴스</a></dt>
              <dd><a href="https://dcnewsj.joins.com/dcInterview?cloc=dcnewsj|home|navi" target="_blank">디시인터뷰</a></dd>
              <dd><a href="https://dcnewsj.joins.com/dcIssue?cloc=dcnewsj|home|navi" target="_blank">디시이슈</a></dd>
            </dl>
          </div>
          <div class="all_bottom">
            <a href="https://nstatic.dcinside.com/dc/dcad/w/index.html" target="_blank"><strong class="tit">광고안내</strong></a>
            <span class="list">
              <a href="https://nstatic.dcinside.com/dc/dcad/w/index.html" target="_blank" class="link_info">디스플레이광고</a>
              <a href="https://nstatic.dcinside.com/dc/dcad/w/ad_event.html" target="_blank" class="link_info">프로모션</a>
              <a href="https://nstatic.dcinside.com/dc/dcad/w/ad_qna.html" target="_blank" class="link_info">광고문의</a>
            </span>
            <span class="bottom_menu">
              <a class="menu_link menu_fold" href="javascript:void(0);" style="display:block"><em class="sp_img icon_fold"></em>닫기</a>
              <a class="menu_link menu_open" href="javascript:void(0);" style="display:none"><em class="sp_img icon_open"></em>열기</a>
              <a class="menu_link" href="#top" ><em class="sp_img icon_up"></em>맨위로</a>
            </span>
          </div>
        </div>
      </div>

      <div class="info_policy">
       <a href="https://www.dcinside.com/company">회사소개</a>
       <a href="https://www.dcinside.com/company#recruit">인재채용</a>
       <a href="https://www.dcinside.com/company#alliance">제휴안내</a>
       <a href="https://nstatic.dcinside.com/dc/dcad/w/index.html">광고안내</a>
       <a href="https://nstatic.dcinside.com/dc/w/policy/policy_index.html">이용약관</a>
       <a href="https://nstatic.dcinside.com/dc/w/policy/privacy_index.html"><b>개인정보처리방침</b></a>
       <a href="https://nstatic.dcinside.com/dc/w/policy/youth_policy.html">청소년보호정책</a>
      </div>
      <div class="copyright">Copyright ⓒ 1999 - 2019 dcinside. All rights reserved.</div>
    </footer>
    <!-- //하단 -->
    <!-- 180921 -->
      </div>
 <style>
	#cashDiv { position:absolute; width:640px; left:-520px; bottom:0; padding:0; margin:0; z-index:9999;display:none; background-color: #fff; }
	#giftDiv { position:absolute; bottom:0; left:-400px; padding:0; margin:0;display:none; }
</style>
<div id='cashDiv'>
	<iframe name='cashFrame' id='cashFrame' src='' align='center' width='100%' hspace='0' vspace='0' marginwidth='0' marginheight='0' frameborder='0' framespacing='0' scrolling='no' onload='javascript:cashFrameResize();' title='빈프레임'></iframe>
</div>
<div id='giftDiv'>
	<iframe name='cashGiftFrame' id='cashGiftFrame' src='' align='center' width='100%' hspace='0' vspace='0' marginwidth='0' marginheight='0' frameborder='0' framespacing='0' scrolling='no' title='빈프레임'></iframe>
</div><!-- 디시콘 정보 레이어팝업	-->	
<div id = "data_info"></div>
<script id="dccon_detail-tmpl" type="text/x-jquery-tmpl">
<div class="pop_wrap type3" id = "package_detail" style="margin-left:-556px;margin-top:-310px">
 <div class="pop_content dccon_popinfo">
	 <div class="pop_head clear">
		<h3 >디시콘 정보</h3>
	</div>
	<div class="info_viewbox clear">
		<div class="info_viewimg">
		<img src="//dcimg5.dcinside.com/dccon.php?no=${info['main_img_path']}" alt="${info['title']}" width="140" height="140">
		</div>
		<div class="info_viewtxt">
		<div class="viewtxt_top clear">
			<h4 class="font_blue con_title">${info['title']}</h4>
			<span class="font_red">(금액: 만두 ${info['mandoo']}개)</span>
			{{if info['register']}}
			<span class="useday fr">남은 사용일: -일</span>
			{{else (info['residual']) }}
			<span class="useday fr">남은 사용일: ${info['residual']}일</span>	
			{{else}}
			<button type="button" class="btn_blue small btn_buy" reqpath="/dccon">구매하기</button>
			{{/if}}
		</div>
		<div class="viewtxt_cont">
			<p class="inner_txt">
			${info['description']}
			</p>
			<div class="inner_info">
			<span class="tbox">제작</span>
			<span class="seller_name">${info['seller_name']}</span>
			<span class="makeday">${info['reg_date_short']}</span>
			</div>
			<div class="inner_info">
			<span class="tbox">태그</span>
			<span class="seller_name">
			{{each(i,item) tags}}
			{{if i != 0}},{{/if}}
			${tag}
			{{/each}}
			</span>
			</div>
		</div>
		</div>
	</div>
	<!-- dccon_list_wrap -->
	<div class="dccon_list_wrap clear">
	 <!-- 디시콘 리스트 dccon_list_box -->
	<div class="dccon_list_box popinfo">
		<ul class="dccon_list clear">
		{{each detail}}
			<li><span class="img_dccon"><img src="//dcimg5.dcinside.com/dccon.php?no=${path}" alt="${title}" title ="${title}"></span></li>
		{{/each}}
		</ul>
	</div>
	<!-- //디시콘 리스트 dccon_list_box -->
	</div>
	<!-- //dccon_list_wrap -->
	<div class="dccon_infobox">
		<p>디시콘은 구매 후 1년 동안 사용 가능하며, 환불이 불가합니다.</p>
		<p>음란물을 디시콘으로 등록하는 경우 사이버수사대에 즉각 신고합니다.</p>
		<p>서비스 이용에 부적절하거나, 저작권에 위반된 저작물일 경우 별도 통보 없이 판매중지될 수 있습니다.</p>
	</div>
	</div>
 <button type="button" class="poply_bgblueclose package_close" ><span class="blind">디시콘 정보 레이어 닫기</span><em class="sp_img icon_bgblueclose"></em></button>

 <!-- 디시콘 구매하기 레이어팝업 -->
 <div class="pop_wrap type3" style="left:136px;top:197px;display:none" id ="package_buy">
	 <div class="pop_content dccon_buy">
	 <div class="pop_head"><h3>구매하기</h3></div>
	 <div class="buy_info_box">
		 <dl class="buy_info">
		 <dt class="tit">디시콘명</dt>
		 <dd class="cont"><b class="font_red title"></b></dd>
		 </dl>
		 <dl class="buy_info">
		 <dt class="tit">보유만두</dt>
		 <dd class="cont user_cash"></dd>
		 </dl>
		 <dl class="buy_info">
		 <dt class="tit">차감만두</dt>
		 <dd class="cont use_cash"></dd>
		 </dl>
		 <dl class="buy_info">
		 <dt class="tit"><label for="pw">비밀번호</label></dt>
		 <dd class="cont pw"><input type="password" class="intxt" id="password1"></dd>
		 </dl>
	 </div>
	 <div class="btn_box">
		 <button type="button" class="btn_grey small">취소</button>
		 <button type="button" class="btn_blue small">결제</button>
	 </div>
	 </div>
	 <button type="button" class="poply_bgblueclose"><span class="blind">알림 설정 레이어 닫기</span><em class="sp_img icon_bgblueclose"></em></button>
 </div>
 <!-- //디시콘 구매하기 레이어팝업 -->

 <!-- 디시콘 신고하기 레이어팝업 -->
 <div class="pop_wrap type3" id = "package_singo" style="left:136px;top:197px;display:none">
	 <div class="pop_content dccon_report">
	 <div class="pop_head"><h3>신고하기</h3></div>
	 <div class="dcconpop_cont">
		 <textarea title="신고내용 입력" class="dccon_txtarea" placeholder="내용입력"></textarea>
		 <div class="fileup_box clear">
		 <input type="text" class="fileup_name" placeholder="jpg, zip파일 / 5M이하">
		 <div class="fileup_btn_box">
			 <label for="input_file" class="fileup_btn">파일첨부</label>
			 <input type="file" id="input_file" class="fileup_hidden">
		 </div>
		 </div>
	 </div>
	 <div class="btn_box">
		 <button type="button" class="btn_grey small">취소</button>
		 <button type="button" class="btn_blue small">등록</button>
	 </div>
	 </div>
	 <button type="button" class="poply_bgblueclose"><span class="blind">알림 설정 레이어 닫기</span><em class="sp_img icon_bgblueclose"></em></button>
 </div>
 <!-- //디시콘 신고하기 레이어팝업 -->

 <!-- 디시콘 판매중지 신청 레이어팝업 -->
 <div class="pop_wrap type3" id ="package_stop_sale" style="left:136px;top:197px;display:none">
	 <div class="pop_content dccon_stop">
	 <div class="pop_head"><h3>판매중지 신청</h3></div>
	 <div class="dcconpop_cont">
		 <textarea title="판매중지 신청 사유 입력" class="dccon_txtarea" placeholder="내용입력" name ="memo" id ="memo"></textarea>
	 </div>
	 <div class="btn_box">
		 <button type="button" class="btn_grey small cancel">취소</button>
		 <button type="button" class="btn_blue small request">등록</button>
	 </div>
	 </div>
	 <button type="button" class="poply_bgblueclose cancel"><span class="blind">알림 설정 레이어 닫기</span><em class="sp_img icon_bgblueclose"></em></button>
 </div>
 <!-- //디시콘 판매중지 신청 레이어팝업 -->

</div>
</script>
<!-- //디시콘 정보 레이어팝업 -->  <!-- 한줄 알림 -->

  <script id="alarm-popup-tmpl" type="text/x-jquery-tmpl">
	<div class="alarmPopup pop_wrap type1 fixed" style="right:30px;bottom:30px;display:none">
	  <div class="pop_content one_noticewrap">
		<a href="${link}" class="one_notice_txt">
		  <span class="new"><em class="blind">NEW</em><em class="sp_img icon_new"></em></span>[${type}] ${content}
		</a>
		<button type="button" class="poply_close" onclick="$('.alarmPopup').remove()"><span class="blind">알림 레이어 닫기</span><em class="sp_img icon_blueclose"></em></button>
	  </div>
	</div>
  </script>

  <!-- //한줄 알림 -->
<script type="text/javascript">
	//<![CDATA[
	// 기본 애널리틱스
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-5149721-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	// 추가 애널리틱스
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-5149721-39']);
	_gaq.push(['_setDomainName', 'dcinside.com']);
	_gaq.push(['_setAllowLinker', true]);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	// 추가 애널리틱스
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-5149721-64']);
	_gaq.push(['_setDomainName', 'dcinside.com']);
	_gaq.push(['_setAllowLinker', true]);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	//]]>
</script>

</body>
</html>